				body{
					color:464646;
					padding:0px;
					margin:0px;
					background-image:url("../images/design/main-bg.png");
				}
				#time-cont{
					height:7%;
					width:69.7%;
					background-color:f7f7f7;
					position:absolute;
					left:30%;
					box-shadow: 5px 5px 5px #888888;
				}
				#times{
					float:right;
					padding-right:15px;
					padding-top:10px;
					color:464646;
				}
				#left-container{
					width:30%;
					height:100%;
					background-color:f7f7f7;
					box-shadow: 5px 5px 5px #888888;
				}
				#navi{
					position:relative;
					width:99.7%;
					height:7%;
					border-bottom:1px solid gray;

				}
				#navi>ul{
					position:relative;
					float:right;
					top:30%;
					width:60%;
				
				}
				#navi>ul>li{
					list-style:none;
					text-decoration: none;
					display:inline;
					padding-left:7px;
				}
				#navi>ul>li>a{
					text-decoration:none;
					color:gray;464646
				}
				#navi>ul>li>a:hover{
					color:464646;
				}

				#menu{
					position:relative;
					width:99.7%;
					height:7%;
					border-bottom:1px solid gray;
				}
				#mushroom-menu-container{
					
					width:99%;
					height:35%;
					

				}
				#tools-menu-container{
					
					width:97%;
					height:35%;
					padding-left:10px;
					overflow:scroll;

				}
				#tools-menu-container>img:hover{
					background-color:#FFFFCC;
				}
				#select-m{
				margin-left:5px;
				position:relative;
					border-right:1px solid gray;
					width:15%;
					height:99.8%;
					float: right;
					background-image:url("../images/icon/mushroom.png");
					background-size:100% 100%;
				}
				#select-m:hover{
					background-image:url("../images/icon/mushroom-hover.png");
					background-size:100% 100%;
				
				}
				#tool-m{
				position:relative;
					
					width:15%;
					height:99.8%;
					float: right;
					background-image:url("../images/icon/tools.png");
					background-size:100% 100%;

				}
				#tool-m:hover{

					background-image:url("../images/icon/tools-hover.png");
					background-size:100% 100%;

				}

				#status-cont{
					border-top:1px solid gray;
					position:absolute;
					top:50%;
					width:30%;
					height:48%;
				}

				#lecture-main{
					border:1px solid black;
					position: absolute;
					left:0%;
					top:0%;
					width:99.7%;
					height:99.7%;
					background-image:url("../images/design/trans-bg.png");
				}
				#lecture-container
				{
					border:1px solid white;
					width:70%;
					height: 70%;
					position: relative;
					top:14%;
					left:14%;
					background-color:f7f7f7;
					box-shadow: 5px 5px 5px #888888;
					border-radius: 3px 3px 3px;
				}
				#lecture-content{
					position:relative;
					border-right:1px solid gray;
					width: 67%;
					height:95%;
					float:left;
				}
				#lecture-topic{
					position:relative;
					width: 30%;
					height:99.8%;
					float:right;
				}
				#close-lecture{
					width: 99.8%;
					height: 10%;
				}	
				#navi-topic{
					overflow:scroll;
					height:88%;
				}
				#navi-topic>ul>li{
					list-style:none;
					text-decoration: none;
					padding-left:7px;					
				}
				#navi-topic>ul>li>a{
					text-decoration:none;
					color:gray;
				}
				#navi-topic>ul>li>a:hover{
					text-decoration:none;
					color:464646;
				}
				#lecture-content{
					color:gray;
					font-family: verdana,helvetica,arial,sans-serif;
					padding: 10px;
					overflow:scroll;
					
				}
				#back-to-simu{
					width:99%;
					height:99%;
				}
				#quiz-main{
					border:1px solid black;
					position: absolute;
					left:0%;
					top:0%;
					width:99.7%;
					height:99.7%;
					background-image:url("../images/design/trans-bg.png");
				}
			#body{
				background-image:url("../../images/design/bg-edit.png");
				position: absolute;
				top: 0px;
				left: 0px;
				width: 99.9%;
				height: 99.9%;
			}
			#edit-view{
				position: absolute;
					top: 10%;
					left: 30%;

				width: 40%;
				height: 80%;
				background-color: white;
				border-radius: 5px 5px;
				box-shadow: 10px 10px 10px #888888;
			}
			#head{
				height: 30px;
				font-size: 14pt;
				font-family: Tahoma;
				padding: 5px;
			}
			#content{
				font-size: 14pt;
				font-family: Tahoma;
				border: 1px solid gray;
				height: 80%;
				width: 90%;
				position: absolute;
				top: 10%;
				left: 3%;
				padding: 10px;
				overflow:scroll;
			}
			.text-input{
				height: 40px;
				width: 350px;
				margin: 5px;
				font-family: Tahoma;
				font-size: 12pt;
				padding-left:5px;
			}
			#close{
				position: absolute;
				top:5px;
				left:510px;
				width: 20px;
				height: 21px;

				background-image:url("../images/icon/close-icon.png");
			}
			#close:hover{
				width: 25px;
				height: 26px;

				background-image:url("../images/icon/close-icon-hover.png");
			}
			#update{
				font-family: Tahoma;
				font-size: 12pt;
				margin: 5px;
				width: 100px;
				height: 30px;

			}
			#box-1{
			
				border-radius:3px 3px 3px;
				width:20%;
				height:30%;
				color:white;
				position: absolute;
				top:30%;
				left: 40%;
			}
			#box-1>h2{
				text-align:center;
				position:absolute;
				top:-25%;
				font-family: arial,sans-serif;
			}
			#box-1-status{
				
				position:absolute;
				left:40%;
				top:63%;
				width:18%;
				height:11%;

				
				font-family: arial,sans-serif;
				padding:15px;
				background-image:url("../images/icon/w.png");
				
			}
			#box-2{
				color:white;
				border-radius:3px 3px 3px;
				width:20%;
				height:30%;

				position: absolute;
				top:30%;
				left: 65%;
			}
			#box-2>h2{
				text-align:center;
				position:absolute;
				top:-25%;
				font-family: arial,sans-serif;
			}
			#box-2-status{
				
				position:absolute;
				left:65%;
				top:63%;
				width:18%;
				height:11%;

				
				font-family: arial,sans-serif;
				padding:15px;
				background-image:url("../images/icon/w.png");
			}

			.m-m{
				width:90%;
				height:60%;
			}
			

			#selected-container{
				position:absolute;
				top:0px;
				left:0px;
				width:99.8%;
				height:99.8%;
				background-image:url("../images/design/trans-bg.png");
				display:none;
			}
			#sm-container{
				background-color:#FFFFCC;
				width: 70%;
				height:70%;
				position: relative;
				top:14%;
				left:14%;
				
			}
			#smc-slider{
				padding:10px;
			}
			#box_noti{
				color:#FF3300;
			}

			.mushroom-menu-selection{
				border-radius:9px 9px 9px;
				background-image:url("../images/design/log-in-bg.png");
				width: 40%;
				min-height:80%;
				margin:10px;
				padding:10px;
				color:gray;
				float:right;
			}

			.mushroom-menu-selection:hover{

				background-image:url("../images/design/bg-edit.png");
	
				color:464646;
			}

		.status-cont-box{
			border-radius:5px 5px 5px;
			background-image:url("../images/design/log-in-bg.png");
			padding:5px;
			width:88%;
			min-height:40%;
			margin:12px;
			font-family: Cordia New;
			font-size:150%;
		}
		.status-cont-box>h4{
			position:relative;
			top:-23px;
		}





		#tools-menu-container2{

				width:51%;
				box-shadow: 5px 5px 5px #888888;
				background-color:f7f7f7;
				position:absolute;
				left:34%;
				top: 88%;
				height:10%;
				padding-left:6%;
		}
		.tools-menu-selection{
			width:17%;
			height:85%;
			color:gray;
			float:left;
			
			margin:5px;
				border-radius:5px 5px 5px;
				background-image:url("../images/design/log-in-bg.png");


		}
		.tools-menu-selection:hover{
				background-image:url("../images/design/bg-edit.png");
	
				color:464646;

		}
		.tools-menu-selection>span{
		

			position: absolute;
			margin-top:10px;
		}
		.tools-menu-selection>img{
		
			height:99%;

		}

		#user_name{
			position:absolute;
			top:9%;
			left:1%;
			color: 464646;
		}


			#close-mush-info{
				position: absolute;
				top:4%;
				left:93%;
				width: 20px;
				height: 21px;

				background-image:url("../images/icon/close-icon.png");
			}
			#close-mush-info:hover{
				width: 25px;
				height: 26px;

				background-image:url("../images/icon/close-icon-hover.png");
			}
			#smc-description{
				
				padding:1%;
				text-align:justify;
			}
			.description{
				
				text-align:justify;
			}

			#middle-container{
				
				position:absolute;
				top:7%;
				left:30%;
				width:69.8%;
				height:92.7%;
				
				background-image:url("../images/design/straw.jpg");
				background-size:100% 100%;

			}
			#box1-img{
				position:absolute;
				top:18%;
				left:32.5%;
				width:60%;
				height:68%;
				
				background-image:url("../images/design/box.jpg");
				background-size:100% 100%;
			}